{% extends "layout.html" %}

{% block title %}
    Register a User
{% endblock  %}

{% block content %}
    <div class="header">
        <h1 class="header-text">
            Register a User
        </h1>
    </div>
    <div class="register-form-container">
        <form class="register-form" action="/users/register/" method="post">
            {% csrf_token %}
            {{ form }}
            <button class="register-button" type="submit">
                Register
            </button>
        </form>
    </div>
{% endblock %}