<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            My Django App
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="brand">
        <h2 class="brand-text">
            <a href="/">
                <span role="img" aria-label="Home">
                    My Project
                </span>
            </a>
        </h2>
        <nav class="brand-menu">
            <ul>
                <li>
                    <a class="brand-link" href="/">Home</a>
                </li>
                <li>
                    <a class="brand-link" href="/about">About</a>
                </li>
                <li>
                    <a class="brand-link" href="{% url "posts:list" %}">Blog</a>
                </li>
                {% if user.is_authenticated %}
                    <li>
                        <a class="brand-link" href="{% url "posts:new-post" %}">New Post</a>
                    </li>
                    <li>
                        <form class="logout" role="form" action="{% url "users:logout" %}" method="post">
                            {% csrf_token %}
                            <button class="logout-button" type="submit">
                                logout
                            </button>
                        </form>
                    <li>
                {% else %}
                    <li>
                        <a class="brand-link" href="{% url "users:register" %}">Register</a>
                    </li>
                    <li>
                        <a class="brand-link" href="{% url "users:login" %}">Login</a>
                    </li>
                {% endif %}
                <li>
                    <a class="brand-link" href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="footer-text">
            <a href="/" class="footer-text-link">
                My Project 
            </a>
            <a class="footer-text-link" href="/admin">
                &nbsp; | Admin &nbsp; |
            </a>
            <a target="blank" href="https://github.com/noumecha" class="footer-text-link">
                <code>
                    &nbsp; &copy; 2024 | Noumecha Spaker
                </code>
            </a>
        </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>